@model Person

<table class="table">
    <thead>
    <tr>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Alder</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@(Model.Navn)</td>
        <td>@(Model.Efternavn)</td>
        <td>@(Model.Age)</td>
    </tr>
    </tbody>
</table>