
@{
    ViewData["Title"] = "BuyAndSell";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>BuyAndSell</h1>
@section SaleSection 
{
    <div>Dette er min sale section</div>
}

@section BuySection
{
    <div>Dette er min buy section</div>
}

