@{
    ViewData["Title"] = "Mikkels Sale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sale</h1>
@section SaleSection {
    <div>
        Denne tekst forklarer, hvordan Sale fungerer
    </div>
}